<nav class="nav nav-tabs">
    <a class="nav-link" href="/message">Messages</a>
    <a class="nav-link" href="/message/create">Create Message</a>
    <a class="nav-link" href="/user/become-member">Become a Member</a>
    <a class="nav-link active" href="/user/signup">Sign Up</a>
    <a class="nav-link" href="/user/login">Log In</a>
</nav>