<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand fs-2">Secret Math Club</span>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks">
            <span class="navbar-toggler-icon"></span>
        </button>

        <% if (currentUser) { %>
        <div class="collapse navbar-collapse" id="navbarLinks">
            <div class="navbar-nav">
                <a class="nav-link" href="/message">
                    View all messages
                </a>
                <a class="nav-link" href="/message/create">
                    Create message
                </a>
                <a class="nav-link" href="/user/become-member">
                    Become a member
                </a>
            </div>
        </div>

        <div>
            <span class="text-white">Hello, <%= currentUser.username %></span>
            <br>
            <a class="text-white" href="/user/logout">
                Log Out
            </a>
        </div>
        <% } %>
    </div>
</nav>

<script>
    const navbarLinks = document.getElementById('navbarLinks').getElementsByTagName('a');
    for (const link of navbarLinks) {
        const url = window.location.origin + link.getAttribute('href');
        if (window.location.href === url) {
            link.classList.add('text-warning');
        } else {
            link.classList.remove('text-warning');
        }
    }
</script>