<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/head'); %>
</head>

<body>
    <%- include('components/navbar'); %>

    <% if(currentUser.isMember) { %>
    <h1 class="text-center mt-3">You are already a member!</h1>

    <% } else { %>
    <form action="" method="POST" class="col-4 mx-auto mt-5">
        <h1 class="text-center"><%= title %></h1>
        <hr>

        <div class="row mb-3">
            <label>Member Code*</label>
            <span class="text-secondary">(Hint: 1 - 1/2 + 1/3 - 1/4 + 1/5 - ... = ???)</span>
            <input type="text" class="form-control mt-3" required maxlength="100" name="memberCode">
        </div>

        <p class="text-danger">
            <%= message %>
        </p>

        <div class="row">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
    <% } %>
</body>

</html>