<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/head'); %>
</head>

<body>
    <%- include('components/navbar'); %>

    <form action="" method="POST" class="col-4 mx-auto mt-5">
        <h1 class="text-center"><%= title %></h1>
        <hr>

        <div class="row mb-3">
            <label>Member Code*</label>
            <input type="text" class="form-control" required maxlength="100" name="memberCode">
        </div>

        <div class="row">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>

</html>