<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/head'); %>
    <script src="./validators/signup.js" defer></script>
</head>

<body>
    <form action="" method="POST" class="col-8 mx-auto mt-5">
        <h1 class="text-center"><%= title %></h1>
        <hr>
        <div class="row mb-3">
            <div class="col">
                <label for="firstName">First Name*</label>
                <input type="text" class="form-control" required maxlength="100" name="firstName" id="firstName">
            </div>
            <div class="col">
                <label for="lastName">Last Name*</label>
                <input type="text" class="form-control" required maxlength="100" name="lastName" id="lastName">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="username">Username*</label>
                <input type="text" class="form-control" required maxlength="100" name="username" id="username">
            </div>
            <div class="col">
                <label>Are you an admin? (Enter passphrase)</label>
                <input type="text" class="form-control" name="adminPass">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="password">Password*</label>
                <input type="password" class="form-control" required name="password" id="password">
            </div>
            <div class="col">
                <label for="confirmPassword">Confirm password*</label>
                <input type="password" class="form-control" id="confirmPassword">
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary">Sign Up</button>
        </div>
        <div class="row text-center">
            <p>Already have an account? <a href="/user/login">Log In</a></p>
        </div>
    </form>
</body>

</html>